body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(243, 194, 204, 0.4); /* igual al inicio */
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar-sobre {
    background-color: rgba(249, 166, 180, 1);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.navbar-sobre a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    margin: 0 10px;
}

.navbar-sobre a:hover {
    background-color: #f87198;
    border-radius: 5px;
}

/* Título principal */
.titulo-sobre {
    background-color: rgba(249, 166, 180, 1);
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
}

/* Contenido */
.contenido-sobre {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: F3C2CC;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrado del contenido */
}

/* Bloques de texto */
.bloque {
    margin-bottom: 30px;
    text-align: center; /* Centrado de los textos dentro de cada bloque */
}

.bloque h2 {
    font-size: 1.8rem;
    color: #f87198;
    margin-bottom: 10px;
}

.bloque p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    max-width: 800px; /* Limitar el ancho para que no se estire demasiado */
    margin: 0 auto; /* Centrar el párrafo */
}
